
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login to ProfileManager</h2>
<div>
    <label for="email">Email</label>
    <input type="email" name="email" required autofocus />
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" required autofocus />
</div>
<button type="submit">Sign in</button>

